
body {
    background-image: url('descarga.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #333;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 10px;
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.navbar-menu a:hover {
    background-color: #575757;
    border-radius: 4px;
}

#btnLicencias {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#btnLicencias:hover {
    background-color: #45a049; 
}

h2 {
    font-size: 1.5em;
}

.comparison-table {
    width: 100%;
    border-collapse: collapse;
}

.comparison-table th, .comparison-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.comparison-table th {
    background-color: #f2f2f2;
}